body{
    position: center;
    max-width: 1024px;
    min-height: 750px;
    width: 100%;
    height: auto;
    margin: auto;
    margin-top: 2px;
}
h1 {
    text-indent: 0px;
    font-size: 50px;
    text-align: center;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
table{
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 2px 8px;
}
th {
    font-size: 24px;
}
td{
    font-size: 18px;
    max-width: 450px;
}
.frontPage {
    position: absolute;
    display: inline-block;
    text-align: center;
    text-decoration: blue;
    margin-left: 4%;
    top: 6%;
}
.left {
    text-indent: 50px;
    font-size: 18px;
}
.demo-text{
    text-indent: 75px;
}
.button-ul {
    list-style-type: none;
    margin-left: 75px;
    padding: 0;
    overflow: hidden;
}
.button-li{
    float: left;
}
#input-field{
    margin-left: 75px;
}